<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/schwimmbad.json');

    if (res.ok) {
      const response: Schwimmbad = await res.json();

      return {
        props: {
          props: response,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import Icon from '@iconify/svelte';
  import ChevronLeftIcon from '@iconify-icons/fa-solid/chevron-left.js';
  import ChevronRightIcon from '@iconify-icons/fa-solid/chevron-right.js';
  import buebaImage from '$images/title/bueba_handorf.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$lib/components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import { swipeable } from '../../lib/directives/swipeable';
  import type { Schwimmbad } from './index.json';
  import Head from '$lib/components/head.svelte';
  import { fade } from 'svelte/transition';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';

  export let props: Schwimmbad;

  const {
    galleryImages,
    accessibilityDisclaimer,
    accessibilityText,
    equipmentDescription,
    googleMaps2ClickText,
    metadata,
    routeDescription,
  } = props;

  const KEYCODES = {
    ESCAPE: 27,
    LEFT: 37,
    RIGHT: 39,
  };

  let galleryPopupImageUrl: string | null = null;
  let googleMapsAccepted = false;

  const setGalleryPopupImageUrl = (galleryPopupImageUrlToSet: string) => {
    galleryPopupImageUrl = galleryPopupImageUrlToSet;
  };

  const unsetGalleryPopupImageUrl = () => (galleryPopupImageUrl = null);

  const previousGalleryImage = () => {
    const galleryImageIndex = galleryImages.findIndex(
      (galleryImage) => galleryImage.fullImage === galleryPopupImageUrl
    );
    const size = galleryImages.length;
    return galleryImages[(((galleryImageIndex - 1) % size) + size) % size].fullImage;
  };

  const setPreviousGalleryImage = () => {
    galleryPopupImageUrl = previousGalleryImage();
  };

  const nextGalleryImage = () => {
    const galleryImageIndex = galleryImages.findIndex(
      (galleryImage) => galleryImage.fullImage === galleryPopupImageUrl
    );
    const size = galleryImages.length;
    return galleryImages[(galleryImageIndex + 1) % size].fullImage;
  };

  const setNextGalleryImage = () => {
    galleryPopupImageUrl = nextGalleryImage();
  };

  const handleKeydown = (event: KeyboardEvent) => {
    if (!galleryPopupImageUrl) {
      return;
    }

    if (event.keyCode === KEYCODES.LEFT) {
      setPreviousGalleryImage();
    } else if (event.keyCode === KEYCODES.RIGHT) {
      setNextGalleryImage();
    } else if (event.keyCode === KEYCODES.ESCAPE) {
      unsetGalleryPopupImageUrl();
    }
  };
</script>

<svelte:window on:keydown={handleKeydown} />

<svelte:head>
  <Head
    {metadata}
    fallbackTitle="Schwimmbad"
    fallbackMetaDescription="Informationen und Bilder rund um die Ausstattung des Bürgerbads Handorf"
  />
</svelte:head>

<TitleImage title="Schwimmbad" image={buebaImage} />

<ContentContainer>
  <section class="accessibilityDislaimer">
    <MarkdownBlock text={accessibilityDisclaimer} />
  </section>
  <section class="introduction">
    <MarkdownBlock text={equipmentDescription} />
  </section>

  <section class="gallery">
    {#each galleryImages as gallyimage}
      <img
        loading="lazy"
        src={gallyimage.thumbnail}
        alt=""
        on:click={() => setGalleryPopupImageUrl(gallyimage.fullImage)}
      />
    {/each}
  </section>

  {#if galleryPopupImageUrl}
    <div
      transition:fade={{ duration: 200 }}
      class="gallery-popup"
      on:click={unsetGalleryPopupImageUrl}
      use:swipeable
      on:swipeleft={setPreviousGalleryImage}
      on:swiperight={setNextGalleryImage}
    >
      <div on:click|stopPropagation={setPreviousGalleryImage}>
        <Icon class="gallery-icon" icon={ChevronLeftIcon} />
      </div>
      <img src={galleryPopupImageUrl} alt="" />
      <div on:click|stopPropagation={setNextGalleryImage}>
        <Icon class="gallery-icon" icon={ChevronRightIcon} />
      </div>
    </div>
  {/if}

  <h2>Anfahrt & Kontakt</h2>
  <div class="maps-container">
    {#if !googleMapsAccepted}
      <div class="maps-placeholder" on:click={() => (googleMapsAccepted = true)}>
        <MarkdownBlock text={googleMaps2ClickText} />
      </div>
    {:else}
      <iframe
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCu1zRe6qBjaPxP6jNkZAKbuUcq24y7QRg
    &q=Bürgerbad+Handorf+Hobbeltstraße"
        sandbox="allow-scripts allow-popups"
        referrerpolicy="no-referrer"
        title="Google Maps"
      />
    {/if}
  </div>

  <MarkdownBlock text={routeDescription} />

  <div id="Barrierefreiheit">
    <MarkdownBlock text={accessibilityText} />
  </div>
</ContentContainer>

<style lang="scss">
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    @include is-mobile {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    gap: 1rem;
    margin-bottom: 8em;

    img {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      cursor: pointer;
    }
  }

  .gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #0005;
    backdrop-filter: brightness(0.5) blur(3px);

    :global(.gallery-icon) {
      cursor: pointer;
      color: var(--background-light);
      width: 50px;
      height: 50px;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));

      @include is-mobile {
        width: 30px;
        height: 30px;
      }
    }

    :global(.gallery-icon:hover) {
      color: var(--accent-color);
    }

    img {
      max-height: 90vh;
      max-width: 90vw;

      @include is-mobile {
        max-width: 80vw;
      }
    }
  }

  .maps-container {
    overflow: hidden;
    position: relative;
    height: 30rem;

    .maps-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: var(--background-light-darker);
      height: 100%;

      text-align: center;
      padding: 0 3rem;
    }

    iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
</style>
