<script context="module">
  export function load({ error, status }) {
    return {
      props: {
        status: status,
        error: error,
      },
    };
  }
</script>

<script lang="ts">
  export let status: number;
  export let error: Error;
</script>

<svelte:head>
  <title>{status}</title>
</svelte:head>

<div>
  <h1>{status}</h1>
  <p>
    {#if status == 404}
      Hier bist du wohl falsch gelandet.
    {:else if status === 500}
      Irgendetwas hat bei uns nicht richtig funktioniert.
    {:else}
      Irgendetwas scheint nicht zu stimmen. <br />
      {error.message}
    {/if}
    <br />
    <a href="/" svelte-kit:preload>Zurück zur Startseite?</a>
  </p>
</div>

<style lang="scss">
  h1 {
    font-size: 9rem;
  }
  div {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      text-align: center;
    }
  }
</style>
