<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';
  import type { Contact as ContactType } from './contact-footer.json';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/contact-footer.json');

    if (res.ok) {
      const contactData: ContactType = await res.json();

      return {
        props: {
          contactData,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import Header from '$lib/components/header/index.svelte';
  import Contact from '$lib/components/contact.svelte';
  import type { Address } from '$lib/components/contact.svelte';
  import Footer from '$lib/components/footer.svelte';
  import SocialIcons from '$lib/components/social-icons.svelte';
  import '../app.scss';

  export let contactData: {
    address: Address;
    showPhoneNumber: boolean;
    telegramChannel: string;
    facebookLink: string;
    mapsLink: string;
  };

  const { address, showPhoneNumber, telegramChannel, facebookLink, mapsLink } = contactData;
</script>

<Header />
<SocialIcons
  phoneNumber={showPhoneNumber ? address.Telefonnummer : undefined}
  email={address.Email}
  {telegramChannel}
  {facebookLink}
  {mapsLink}
/>

<main>
  <slot />
</main>

<Contact {address} {showPhoneNumber} />
<Footer />

<style>
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
</style>
