<script lang="ts">
  import ContentContainer from '$lib/components/content-container.svelte';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';
  import type { MarkdownText } from '$lib/types';

  export let text: MarkdownText;
</script>

<section class="landing-text markdown">
  <ContentContainer>
    <MarkdownBlock {text} />
  </ContentContainer>
</section>

<style lang="scss">
  section {
    padding: 3rem 0;
    font-size: 1.2rem;
  }
</style>
