<script lang="ts">
  import ContentContainer from '$lib/components/content-container.svelte';
  import LandingImage from '$images/title/landing.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import { responsiveBg } from '$lib/components/responsive-image/responsiveBg';
</script>

<section class="landing-image" use:responsiveBg={LandingImage}>
  <ContentContainer>
    <div class="welcome">
      <h1>
        <div class="big">Bürgerbad Handorf</div>
      </h1>
    </div>
  </ContentContainer>
  <div class="backdrop">Büba</div>
</section>

<style lang="scss">
  @use 'sass:map';
  @use 'sass:color';

  .backdrop {
    position: relative;
    bottom: 0px;
    left: 0px;
    transform: translateY(-80%);
    z-index: 0;
    overflow-x: hidden;

    font-family: 'HeeboVariable';
    font-size: 15rem;
    @include is-mobile {
      font-size: 10rem;
    }
    font-weight: 100;
    color: rgba($color: #fff, $alpha: 0.15);
    text-transform: uppercase;
    line-height: normal;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .landing-image {
    min-height: 30rem;
    height: 70vh;
    overflow: hidden;
    background-color: #0005;
    :global(img) {
      object-position: 50% 100% !important;
      filter: blur(5px);
    }
  }
  .welcome {
    display: flex;
    align-items: center;
    height: 100%;

    h1 {
      .big {
        font-weight: 500;

        @include is-mobile {
          font-size: 3.5rem;
        }
        @include is-tablet {
          font-size: 4rem;
        }
        @include is-laptop {
          font-size: 5rem;
        }
        @include is-desktop {
          font-size: 5.5rem;
        }
      }

      text-transform: uppercase;
      color: var(--accent-color);
      text-align: left;
      z-index: 1;
    }
  }
</style>
