<script lang="ts">
  import ContentContainer from '$lib/components/content-container.svelte';
  import type { MarkdownText } from '$lib/types';
  import MarkdownBlock from '$components/markdown-block.svelte';
  import NewBuilding from '$images/bueba_gebaeude_neu.jpg?webp&aspect=3:1&w=480;960;1280;1920;2560;3840&format=webp&srcset';
  import OldBuilding from '$images/bueba_gebaeude_alt.jpg?webp&aspect=3:1&w=480;960;1280;1920;2560;3840&format=webp&srcset';
  import NewBuildingMobile from '$images/bueba_gebaeude_neu.jpg?webp&w=480;960;1280;1920;2560;3840&format=webp&srcset';
  import OldBuildingMobile from '$images/bueba_gebaeude_alt.jpg?webp&w=480;960;1280;1920;2560;3840&format=webp&srcset';
  import { fade } from 'svelte/transition';
  import { onDestroy, onMount } from 'svelte';
  import { mediaBreakpoints } from '$lib/stores/media';

  export let title: string;
  export let text: MarkdownText;

  // Slideshow logic

  let showNewBuilding = true;
  const toggleShowNewBuilding = () => (showNewBuilding = !showNewBuilding);

  let slideShowHandle: number;
  const startSlideShow = () => {
    if (slideShowHandle) {
      clearInterval(slideShowHandle);
    }
    slideShowHandle = window.setInterval(() => {
      toggleShowNewBuilding();
    }, 10000);
  };

  onMount(() => startSlideShow());
  onDestroy(() => clearInterval(slideShowHandle));

  const manualToggleShowNewBuilding = () => {
    startSlideShow();
    toggleShowNewBuilding();
  };
</script>

<section class="new-building">
  <ContentContainer>
    <h2>{title}</h2>
    <MarkdownBlock {text} />
  </ContentContainer>
  <div class="building-picture">
    {#if showNewBuilding}
      <picture transition:fade|local={{ duration: 2000 }} on:click={manualToggleShowNewBuilding}>
        <source media={mediaBreakpoints.mobile} srcset={NewBuildingMobile} />
        <source media={mediaBreakpoints.tablet} srcset={NewBuilding} />
        <img srcset={NewBuilding} alt="Neues Gebäude des Bürgerbad Handorf" />
      </picture>
      <div class="imageOverlay post">Neues Bad</div>
    {:else}
      <picture transition:fade|local={{ duration: 2000 }} on:click={manualToggleShowNewBuilding}>
        <source media={mediaBreakpoints.mobile} srcset={OldBuildingMobile} />
        <source media={mediaBreakpoints.tablet} srcset={OldBuilding} />
        <img srcset={OldBuilding} alt="Altes Gebäude des Bürgerbad Handorf" />
      </picture>
      <div class="imageOverlay pre">Altes Bad</div>
    {/if}
  </div>
</section>

<style lang="scss">
  h2 {
    text-transform: none;
    font-size: 2.5rem;
  }
  section {
    font-size: 1.2rem;
  }
  .building-picture {
    position: relative;
    overflow: hidden; // It's a hack, but otherwise the darn thing would've caused a vertical scrollbar for whatever reason. I couldn't figure out why.

    display: grid;
    grid-template-columns: 1fr;

    picture {
      grid-row-start: 1;
      grid-column-start: 1;
      object-fit: cover;
      width: 100%;
      max-height: 100%;

      cursor: pointer;
    }

    .imageOverlay {
      position: absolute;
      padding: 2rem;
      font-size: 2rem;
      font-weight: 450;
      color: var(--light-text-color);
    }
    .pre {
      left: 0;
      bottom: 0;
    }
    .post {
      right: 0;
      bottom: 0;
    }
  }
</style>
