<script lang="ts" context="module">
  export type Sponsor = {
    logo: string;
    link?: string;
    name: string;
  };
</script>

<script lang="ts">
  import ofenhuus from '$images/sponsors/dat_ofenhuus_logo.png?w=400&h=400&webp';
  import devk from '$images/sponsors/devk_logo.png?w=400&h=400&webp';
  import homoelle from '$images/sponsors/dr_homoelle_logo.png?w=400&h=400&webp';
  import medicum from '$images/sponsors/medicum_logo.png?w=400&h=400&webp';
  import oekullus from '$images/sponsors/oekullus_logo.png?w=400&h=400&webp';
  import provinzial from '$images/sponsors/provinzial_logo.png?w=400&h=400&webp';
  import schrunz from '$images/sponsors/schrunz_logo.png?w=400&h=400&webp';
  import visam from '$images/sponsors/visam_logo.png?w=400&h=400&webp';
  import wfMuenster from '$images/sponsors/w_f_muenster_logo.png?w=400&h=400&webp';
  import weicon from '$images/sponsors/weicon_logo.png?w=400&h=400&webp';
  import wtc from '$images/sponsors/wtc_logo.png?w=400&h=400&webp';
  import ContentContainer from '$lib/components/content-container.svelte';

  export let sponsors: Sponsor[] = [
    // backup in case CMS fails
    {
      name: 'Dat Ofenhuus',
      logo: ofenhuus,
    },
    {
      name: 'DEVK Kottrup',
      logo: devk,
    },
    {
      name: 'Dr. Homölle',
      logo: homoelle,
    },
    {
      name: 'Medicum Prevent',
      logo: medicum,
    },
    {
      name: 'ökullus.de',
      logo: oekullus,
    },
    {
      name: 'Provinzial Peitz, Elferich & Witczak',
      logo: provinzial,
    },
    {
      name: 'Bäckerei Schrunz Münster',
      logo: schrunz,
    },
    {
      name: 'Visam Smart Solutions',
      logo: visam,
    },
    {
      name: 'Wasser und Freizeit Münster',
      logo: wfMuenster,
    },
    {
      name: 'Weicon',
      logo: weicon,
    },
    {
      name: 'Wendel Training Consulting',
      logo: wtc,
    },
  ];

  $: sponsors = sponsors.map((it) => ({ ...it, alt: `Logo von "${it.name}"` }));
</script>

<section class="sponsors">
  <ContentContainer>
    <h2>Unsere Sponsoren</h2>
  </ContentContainer>
  <div class="grid-container">
    {#each sponsors as sponsor}
      {#if sponsor.link}
        <a target="_blank" href={sponsor.link}>
          <img class="grid-item" src={sponsor.logo} alt={sponsor.name} loading="lazy" />
        </a>
      {:else}
        <img class="grid-item" src={sponsor.logo} alt={sponsor.name} loading="lazy" />
      {/if}
    {/each}
  </div>
</section>

<style lang="scss">
  section {
    margin-bottom: 3rem;
  }

  h2 {
    text-transform: none;
    font-size: 2.5rem;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
  }

  .grid-item {
    max-width: 9rem;
    display: block;
    filter: opacity(0.7);
  }
</style>
