<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/home.json');

    if (res.ok) {
      const home: Home = await res.json();

      return {
        props: {
          introText: home.introText,
          sponsors: home.sponsors.map((it) => ({
            ...it,
            logo: it.logo?.url,
          })),
          newBuildingText: home.newBuildingText,
          newBuildingTitle: home.newBuildingTitle,
          metadata: home.metadata,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  // In the future, this whole list of transformations will be outsourced to a variable. See https://github.com/JonasKruckenberg/imagetools/issues/139
  import SecondImage from '$images/pool.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import LandingImage from './_landing-image.svelte';
  import LandingText from './_landing-text.svelte';
  import NewBuilding from './_new-building.svelte';
  import Sponsors from './_sponsors.svelte';
  import type { Sponsor } from './_sponsors.svelte';
  import Image from '$lib/components/responsive-image/index.svelte';
  import type { MarkdownText, Metadata } from '$lib/types';
  import Head from '$lib/components/head.svelte';
  import type { Home } from './home.json';

  export let introText: MarkdownText;
  export let newBuildingTitle: string;
  export let newBuildingText: MarkdownText;
  export let sponsors: Sponsor[];

  export let metadata: Metadata;
</script>

<svelte:head>
  <Head
    {metadata}
    fallbackTitle="Bürgerbad Handorf"
    fallbackMetaDescription="Wir sind der Förderverein für das Bürgerbad Handorf - einem Schwimmbad im Nordosten von Münster."
  />
</svelte:head>

<!-- TODO: figure out how to remove this outer div - currently the layout would break. -->
<div>
  <LandingImage />
  <LandingText text={introText} />
  <div class="image-container">
    <Image sourceSet={SecondImage} alt="Bild vom leeren Schwimmbecken des Bürgerbads" />
  </div>
  <NewBuilding title={newBuildingTitle} text={newBuildingText} />
  <Sponsors {sponsors} />
</div>

<style lang="scss">
  .image-container {
    height: 30rem;
    width: 100%;
  }
</style>
