@import '@fontsource/heebo/variable.css';
@import '@fontsource/quicksand/variable.css';

:root {
  font-family: 'QuicksandVariable', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-light);
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  word-break: break-word;
}

h1,
h2,
p,
li {
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
}

h4 {
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
}

h2 {
  font-size: 2rem;
  margin: 2rem 0 1rem 0;

  text-transform: uppercase;

  &::after {
    content: '';
    display: block;

    width: 6ch;
    border-bottom: 1.5px solid var(--accent-color);
  }
}

p {
  line-height: 1.5;
  margin: 2rem 0;
}

blockquote {
  font-style: italic;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  transition: ease 0.2s color;
}

a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

ul {
  padding-left: 0px; // Browser default is 40 for whatever garbage reason
}

.markdown li {
  margin-left: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.button {
  $padding: 0.38em;

  font-size: 1.5rem;
  margin-top: $padding;
  margin-bottom: 3rem;
  a {
    cursor: pointer;
    padding: $padding calc(#{$padding} * 4);
    color: var(--light-text-color);
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #0005;
    white-space: nowrap;
  }
}
