<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/impressum.json');

    if (res.ok) {
      const imprint = await res.json();

      return {
        props: {
          imprint: imprint,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/pool.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import type { Imprint } from './index.json';
  import Head from '$lib/components/head.svelte';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';

  export let imprint: Imprint;

  const { text, metadata } = imprint;
  const metaTitle = metadata.title || 'Impressum';
</script>

<svelte:head>
  <Head {metadata} fallbackTitle="Impressum" />
</svelte:head>

<TitleImage title={metaTitle} {image} />

<ContentContainer>
  <MarkdownBlock lowkeyStyle {text} />
</ContentContainer>
