<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/faq/faq.json');

    if (res.ok) {
      const faqPage: FaqPage = await res.json();

      return {
        props: {
          faqPage,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/title/faq.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import type { FaqPage } from './faq.json';
  import Head from '$lib/components/head.svelte';

  export let faqPage: FaqPage;
  const { faqs, metadata } = faqPage;
</script>

<svelte:head>
  <Head {metadata} fallbackTitle="FAQ" />
</svelte:head>

<TitleImage title="FAQ" {image} />

<ContentContainer>
  <section>
    <h2>Häufig gestellte Fragen</h2>
    {#each faqs as faq}
      <article>
        <h3>{faq.Frage}</h3>
        <p>{faq.Antwort}</p>
      </article>
    {/each}
  </section>
</ContentContainer>

<style lang="scss">
  p {
    margin: 1em 0;
  }
  h2 {
    margin-bottom: 1em;
  }
</style>
