<script lang="ts">
  import MarkdownBlock from '$lib/components/markdown-block.svelte';

  import type { MarkdownText } from '$lib/types';

  export let explanationQuestion: string;
  export let answers: MarkdownText[];
</script>

<section>
  <h2>{explanationQuestion}</h2>
  <div class="grid">
    {#each answers as answer, index}
      <div class="number">{index + 1}</div>
      <MarkdownBlock text={answer} />
    {/each}
  </div>
</section>

<style type="scss">
  .grid {
    --number-size: 5rem;

    display: grid;
    grid-template-columns: var(--number-size) 1fr;

    .number {
      font-size: var(--number-size);
      font-weight: 300;
      color: var(--accent-color);
    }
  }
</style>
