<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';
  import type { Swimming } from './index.json';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/zeiten.json');

    if (res.ok) {
      const response: Swimming = await res.json();

      return {
        props: {
          ...response,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/title/schwimmen.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$lib/components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import PlanExplanation from './_planExplanation.svelte';
  import type { MarkdownText, Metadata } from '$lib/types';
  import Head from '$lib/components/head.svelte';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';

  export let planExplanation: {
    explanationQuestion: string;
    answers: MarkdownText[];
  };

  export let planTitle: string;
  export let planDescription: string | null = null;
  export let planImage: string;

  export let courseDescription: MarkdownText;

  export let pdfDescription: string | null = null;
  export let detailedPdf: string;

  export let faqText: MarkdownText;

  export let metadata: Metadata;
</script>

<svelte:head>
  <Head
    {metadata}
    fallbackTitle="Zeiten"
    fallbackMetaDescription="Hier erfährst du, wann du wie im Bürgerbad Handorf schwimmen kannst."
  />
</svelte:head>

<TitleImage title="Zeiten" {image} />

<ContentContainer>
  {#if planExplanation !== null}
    <PlanExplanation {...planExplanation} />
  {/if}

  {#if planTitle !== null}
    <h2>{planTitle}</h2>
  {/if}

  {#if planDescription !== null}
    <p>{planDescription}</p>
  {/if}

  <img src={planImage} alt="Aktueller Schwimmplan des Büba Handorf" loading="lazy" />

  <MarkdownBlock text={courseDescription} />

  <div class="faq">
    <MarkdownBlock text={faqText} />
  </div>

  {#if pdfDescription !== null}
    <p>{pdfDescription}</p>
  {/if}

  <div class="button">
    <a href={detailedPdf} target="_blank">PDF anschauen</a>
  </div>
</ContentContainer>

<style type="scss">
  //

  .faq {
    margin-top: 5rem;
    font-size: 1.3rem;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 2rem 0;
  }
</style>
