<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';
  import type { Widerrufsrecht } from './index.json';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/widerrufsrecht.json');

    if (res.ok) {
      const response: Widerrufsrecht = await res.json();

      return {
        props: {
          content: response.text,
          metadata: response.metadata,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/title/widerrufsrecht.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import type { MarkdownText, Metadata } from '$lib/types';
  import Head from '$lib/components/head.svelte';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';

  export let content: MarkdownText;
  export let metadata: Metadata;
</script>

<svelte:head>
  <Head {metadata} fallbackTitle="Widerrufsrecht" />
</svelte:head>

<TitleImage title="Widerrufsrecht" {image} />

<ContentContainer>
  <MarkdownBlock text={content} />
</ContentContainer>
