<script lang="ts" context="module">
  export type ImageMetadata = {
    src: string;
    width: number;
    format: string;
  };
</script>

<script lang="ts">
  import { imageWidths, formats } from '$lib/imageWidths';

  export let metadataSet: ImageMetadata[] = [];

  export let sourceSet: string | null = null;

  export let alt: string;
  let className = '';
  export { className as class };

  // If this is true, the image acts like a background image. Srcsets are tricker in CSS (require media queries), which is hard
  // to do dynamically. The current implementation is a little terrible, as it requires the container to have position: relative;
  // Alternativeley, use the responsiveBg directive on the container instead.
  export let background = false;

  $: metadataSet = Array.isArray(metadataSet) ? metadataSet : [metadataSet];

  $: srcset = (format: string) => {
    if (sourceSet !== null) {
      if (import.meta.env.DEV) return sourceSet; // in development, URLs don't contain the file extension so we just dgaf and serve them all at once
      return sourceSet
        .split(',')
        .filter((it) => it.includes(format))
        .join(',');
    }
    return metadataSet
      .filter((image) => image.format == format)
      .map((imageMetadata) => `${imageMetadata.src} ${imageMetadata.width}w`)
      .join(',');
  };

  $: sizes = // TODO: find out if at all needed
    metadataSet
      .sort((a, b) => a.width - b.width)
      .map((imageMetadata) => `(max-width: ${imageMetadata.width}px) ${imageMetadata.width}px`)
      .join(',') + `, ${Math.max(...imageWidths)}px`;

  $: fallbackSrc = metadataSet.find((it) => it.width == Math.min(...imageWidths))?.src;
</script>

<picture class={className} class:background>
  {#each formats as format}
    <source srcset={srcset(format)} type="image/{format}" />
  {/each}
  <img src={fallbackSrc} {alt} />
</picture>

<style lang="scss">
  picture {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .background {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
