<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/hausundbadeordnung/hausundbadeordnung.json');

    if (res.ok) {
      const houseRules: HouseRulesPage = await res.json();

      return {
        props: {
          hausundbadeordnungElements: houseRules.badeordnungs,
          metadata: houseRules.metadata,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/title/hausordnung.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import Head from '$components/head.svelte';
  import type { HouseRule, HouseRulesPage } from './hausundbadeordnung.json';
  import type { Metadata } from '$lib/types';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';

  export let hausundbadeordnungElements: HouseRule[];
  export let metadata: Metadata;
</script>

<svelte:head>
  <Head {metadata} fallbackTitle="Haus- und Badeordnung" />
</svelte:head>

<TitleImage title="Haus- und Badeordnung" {image} />

<ContentContainer>
  <article>
    <h2>Die nachfolgende Haus- und Badeordnung gilt für das Bürgerbad in Handorf</h2>
    <div class="links">
      {#each hausundbadeordnungElements as hausundbadeordnung}
        <a href={`#${hausundbadeordnung.anchor}`}>
          <span>{hausundbadeordnung.ueberschrift}</span>
        </a>
      {/each}
    </div>

    <div class="content markdown">
      {#each hausundbadeordnungElements as hausundbadeordnung}
        <section id={hausundbadeordnung.anchor}>
          <h2>{hausundbadeordnung.ueberschrift}</h2>
          <MarkdownBlock text={hausundbadeordnung.text} />
        </section>
      {/each}
    </div>
  </article>
</ContentContainer>

<style lang="scss">
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    font-weight: 600;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--light-text-color);
      background-color: var(--text-color);
      text-align: center;
      line-height: 2.5em;
      text-transform: uppercase;
      word-break: break-word;
      padding: 0.3em;
      border-radius: 0.5em;
      box-shadow: 0px 0px 5px #0004;
      text-decoration: none;
    }
  }

  .content {
    section {
      &:first-child {
        padding-top: 2em;
      }

      /* Needed to fix anchor jumping to weird positions */
      &:not(:first-child) {
        padding-top: 2em;
        margin-top: -2em;
      }
    }
  }

  article {
    margin-top: 4em;
  }
</style>
