<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';
  import type { NewsItem } from './index.json';

  export const prerender = false;

  export const load: Load = async ({ fetch, params }) => {
    const newsRequest = await fetch(`/news/${params.articleId}.json`);

    if (newsRequest.ok) {
      const rawNews = await newsRequest.json(); // we need to convert the date string to date objects because they get lost on the way
      const article: NewsItem = {
        ...rawNews,
        publicationDate: new Date(rawNews.publicationDate),
        updateDate: rawNews.updateDate ? new Date(rawNews.updateDate) : null,
      };

      return {
        props: {
          article,
        },
      };
    }

    return {
      status: newsRequest.status,
      error: new Error(newsRequest.statusText),
    };
  };
</script>

<script lang="ts">
  import image from '$images/title/news.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import ContentContainer from '$lib/components/content-container.svelte';
  import Head from '$lib/components/head.svelte';
  import TitleImage from '$lib/components/title-image.svelte';
  import Article from './_article.svelte';
  import Icon from '@iconify/svelte';
  import IconArrow from '@iconify-icons/fa-solid/arrow-left';

  export let article: NewsItem;
</script>

<svelte:head>
  <Head fallbackTitle="News" />
</svelte:head>

<TitleImage title="News" {image} />

<ContentContainer>
  <Article {article} noSeparator />

  <div class="back">
    <a sveltekit:prefetch href="/news"><Icon icon={IconArrow} inline /> Zurück zu allen News</a>
  </div>
</ContentContainer>

<style lang="scss">
  .back {
    font-size: x-large;
    margin-bottom: 2rem;
    > * {
      text-decoration: none;
      font-weight: 500;
    }
  }
</style>
