<script lang="ts">
  import de from 'date-fns/locale/de/index.js'; // hack to fix some error
  import { formatDistance, subDays } from 'date-fns';
  import Icon from '@iconify/svelte';
  import LinkIcon from '@iconify-icons/fa-solid/link.js';
  import type { NewsItem } from './index.json';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';

  export let article: NewsItem;
  export let noSeparator = false;

  $: withSeparator = !noSeparator;

  const formattedDate = (date: Date) =>
    formatDistance(subDays(date, 0), new Date(), { locale: de, addSuffix: true });
</script>

<article class:withSeparator>
  <div class="post-metadata">
    <a href="/news/{article.id}" sveltekit:prefetch>
      <Icon icon={LinkIcon} />
    </a>
    {#if article.author}
      von {article.author.firstName} 🞄
    {/if}
    gepostet {formattedDate(article.publicationDate)}
  </div>
  <div class="publication-date" />
  <h2>{article.title}</h2>
  {#if article.imageUrl}
    <img src={article.imageUrl} alt="Titelbild des News-Artikels" />
  {/if}
  {#if article.updateDate !== undefined && formattedDate(article.updateDate) !== formattedDate(article.publicationDate)}
    <p class="updated">
      aktualisiert {formattedDate(article.updateDate)}
    </p>
  {/if}
  <MarkdownBlock text={article.article} />
</article>

<style lang="scss">
  article {
    margin: 3rem 0;

    .post-metadata {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: var(--text-color);

      a {
        font-size: 1.5rem;
        padding-right: 0.5rem;
        cursor: pointer;
        filter: opacity(0.7);
        color: var(--text-color);
        text-decoration: none;

        &:hover {
          color: var(--accent-color);
        }

        &::after {
          content: ' /';
          color: var(--text-color);
        }
      }
    }
    .updated {
      font-style: italic;
      font-size: 0.9rem;
    }

    h2 {
      font-size: 2.6rem;
      font-weight: 450;
      @include is-mobile {
        font-size: 2rem;
      }
      margin: 0.5em 0;
    }

    img {
      max-width: 100%;
      object-position: center;
    }

    &.withSeparator::after {
      content: '';
      display: block;
      border-bottom: 1px solid var(--text-color);
      width: 100%;
    }
  }
</style>
