<script type="ts">
  import Icon from '@iconify/svelte';
  import ArrowRight from '@iconify-icons/line-md/arrow-right.js';
  import ArrowLeft from '@iconify-icons/line-md/arrow-left.js';

  export let totalPages: number;
  export let currentPage: number;

  $: individualPages = [...Array(totalPages + 1).keys()].slice(1);
  $: previousPage = currentPage - 1;
  $: nextPage = currentPage + 1;
</script>

<div class="paginator">
  <a
    href="/news?page={previousPage}"
    class="arrow"
    class:invisible={previousPage < 1}
    sveltekit:noscroll
    sveltekit:prefetch
  >
    <Icon icon={ArrowLeft} />
  </a>

  {#each individualPages as page}
    {#if page != currentPage}
      <a class="element" href="/news?page={page}" sveltekit:prefetch sveltekit:noscroll>
        {page}
      </a>
    {:else}
      <span class="element active"> {page}</span>
    {/if}
  {/each}

  <a
    href="/news?page={nextPage}"
    class="arrow"
    class:invisible={nextPage > totalPages}
    sveltekit:noscroll
    sveltekit:prefetch
  >
    <Icon icon={ArrowRight} />
  </a>
</div>

<style lang="scss">
  .paginator {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: var(--text-color);

    margin: 3rem 0;

    .element {
      min-width: 2rem;
      text-align: center;
    }

    span.element {
      filter: opacity(0.5);
    }

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 3rem;
    }

    .invisible {
      visibility: hidden;
    }

    a {
      text-decoration: none;
    }
  }
</style>
