<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';
  import type { NewsItem } from './index.json';
  import type { NewsPageItem } from './metadata.json';

  export const prerender = false;

  const getQueryParams = (limit: number, sort: string, start: number): string =>
    `_limit=${limit}&_sort=${sort}&_start=${start}`;

  const getTotalPages = (totalItems: number, stepSize: number): number =>
    Math.ceil(totalItems / stepSize);

  export const load: Load = async ({ fetch, params }) => {
    // first, start fetching

    // pagination variables
    const limit = 5; // we only ever want to fetch 5 articles at a time
    const sort = 'id:DESC';
    const pageQueryParam: string = params.page || '1';
    const start = (parseInt(pageQueryParam) - 1) * limit;
    // end of pagination variables

    const [newsRequest, metadataRequest, newsCountRequest] = await Promise.all([
      fetch(`/news.json?${getQueryParams(limit, sort, start)}`),
      fetch('/news/metadata.json'),
      fetch('/news/count.json'),
    ]);

    if (newsRequest.ok && metadataRequest.ok && newsCountRequest.ok) {
      const rawNews = await newsRequest.json(); // we need to convert the date string to date objects because they get lost on the way
      const news: NewsItem[] = rawNews.map((it: NewsItem) => ({
        ...it,
        publicationDate: new Date(it.publicationDate),
        updateDate: it.updateDate ? new Date(it.updateDate) : null,
      }));

      const metadata: NewsPageItem = await metadataRequest.json();
      const totalPages = getTotalPages(await newsCountRequest.json(), limit);

      return {
        props: {
          news,
          totalPages,
          currentPage: parseInt(pageQueryParam),
          metadata: metadata.metadata,
        },
      };
    }

    const { message } = (await newsRequest.json()) || (await metadataRequest.json());

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/title/news.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import ContentContainer from '$lib/components/content-container.svelte';
  import Head from '$lib/components/head.svelte';
  import TitleImage from '$lib/components/title-image.svelte';
  import type { Metadata } from '$lib/types';
  import Article from './_article.svelte';
  import Paginator from './_newsPaginator.svelte';

  export let news: NewsItem[];
  export let totalPages: number;
  export let currentPage: number;
  export let metadata: Metadata;

  $: sortedNews = news.sort((a, b) => b.publicationDate.getTime() - a.publicationDate.getTime());
</script>

<svelte:head>
  <Head {metadata} fallbackTitle="News" />
</svelte:head>

<TitleImage title="News" {image} />

<ContentContainer>
  {#each sortedNews as newsItem, index}
    <Article article={newsItem} noSeparator={index === sortedNews.length - 1} />
  {/each}

  <Paginator {totalPages} {currentPage} />
</ContentContainer>
