<script lang="ts" context="module">
  import type { Load } from '@sveltejs/kit';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/datenschutz.json');

    if (res.ok) {
      const privacyPolicy = await res.json();

      return {
        props: {
          privacyPolicy: privacyPolicy,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/pool.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';
  import Head from '$lib/components/head.svelte';
  import type { PrivacyPolicy } from './index.json';

  export let privacyPolicy: PrivacyPolicy;
  const { text, metadata } = privacyPolicy;
  const metaTitle = metadata?.title || 'Datenschutzerklärung';
</script>

<svelte:head>
  <Head {metadata} fallbackTitle="Datenschutzerklärung" />
</svelte:head>

<TitleImage title={metaTitle} {image} />

<ContentContainer>
  <MarkdownBlock {text} lowkeyStyle />
</ContentContainer>
