<script lang="ts" context="module">
  export const prerender = true;
</script>

<script lang="ts">
  import ContentContainer from '$lib/components/content-container.svelte';

  export let reasons: string[] = [
    'Weil du damit den Erhalt eines Schwimmbades in Handorf unterstützt.',
    'Weil du mit einem relativ geringen Mitgliedsbeitrag die Möglichkeit erhältst, täglich schwimmen zu gehen.',
    'Weil du dadurch unterstützt, dass Kinder weiterhin schwimmen lernen.',
    'Weil du das Büba zu Gelgenheiten nutzen kannst.',
  ];
</script>

<section class="outer-container">
  <ContentContainer class="relative">
    <h2>Warum du Mitglied werden solltest</h2>
    <div class="grid-container">
      {#each reasons as reason, i}
        <div class="inner-grid">
          <div class="number">{i + 1}</div>
          <div class="reason">{reason}</div>
        </div>
      {/each}
    </div>
  </ContentContainer>
  <div class="backdrop">
    <img src="/logo_outlined.svg" alt="" />
  </div>
</section>

<style lang="scss">
  section {
    padding: 3rem 0;
  }

  .outer-container {
    position: relative;
    overflow: auto;
  }

  .backdrop {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: -2;
    overflow: hidden;

    // sizing and positioning: always take full height, have a maximum of 1.2x desktop width and be centered
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: calc(#{$desktop-body} * 1.2);
    margin-left: auto;
    margin-right: auto;

    img {
      $image-scale: 1.25;

      max-width: 100%;
      height: 100%;
      transform: scale($image-scale) rotate(5deg)
        translateX(calc((#{$image-scale} - 1) * 100% / -2)); // looks complicated, but just turns 1.25 to 25% and then divides by -2
      @include is-mobile {
        transform: translateX(calc((#{$image-scale} - 1) * 100%));
      }
      opacity: 0.06;
    }
  }

  h2 {
    text-transform: none;
  }

  .grid-container {
    display: grid;
    @include is-mobile {
      grid-template-columns: 1fr;
    }
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 3rem;
  }

  $reason-number-fontsize: 4.5rem;

  .inner-grid {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: ($reason-number-fontsize * 0.8) 1fr;
  }

  .number {
    font-size: $reason-number-fontsize;
    color: var(--accent-color);
    font-weight: 200;
  }

  .reason {
    align-self: flex-start;
    color: var(--text-color);
    padding-top: 0.7 * $reason-number-fontsize;
    font-size: 1.2rem;
    @include is-mobile {
      font-size: 1rem;
    }
  }
</style>
