<script lang="ts">
  import ContentContainer from '$lib/components/content-container.svelte';
  import AnimatedNumber from '$lib/components/animated-number.svelte';
  import { inview } from 'svelte-inview';

  export let signupLink = 'https://form.jotformeu.com/82735486967375';
  export let members = 482;

  let currentMembers = 0;
</script>

<section class="sign-up" id="Mitglied-Werden">
  <ContentContainer>
    <div class="grid">
      <div
        class="number"
        use:inview={{}}
        on:enter={() => {
          currentMembers = members;
        }}
      >
        <AnimatedNumber number={currentMembers} />
      </div>
      <div class="members">Fördermitglieder</div>
      <div class="call-to-action">Werde jetzt Mitglied!</div>
      <div class="button">
        <a rel="noopener noreferrer" target="_blank" href={signupLink}>Zum Anmeldeformular</a>
      </div>
    </div>
  </ContentContainer>
</section>

<style lang="scss">

  section {
    padding: 3rem 0;
  }

  .sign-up {
    background-color: var(--background-dark);
    color: var(--light-text-color);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr 1fr 1fr auto;
    grid-column-gap: 1rem;

    padding: 3rem 0;

    @include is-laptop {
      grid-template-columns: 1fr 1fr;
    }
    @include is-desktop {
      grid-template-columns: 1fr 1fr;
    }

    & > div {
      justify-self: center;
    }

    & > :nth-child(1) {
      grid-row: 1;
      grid-column: 1;
      font-size: 7rem;
      line-height: 1em;
      align-self: flex-end;
      font-weight: 200;
      box-sizing: border-box;
      font-variant-numeric: lining-nums;
      font-family: 'HeeboVariable';

      &::after {
        content: '';
        display: block;
        width: 2ch;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 4px solid var(--light-text-color);
        border-radius: 10px;
        transform: translateY(0.15em);
      }
    }
    & > :nth-child(2) {
      grid-row: 2;
      grid-column: 1;
      align-self: flex-end;
      font-size: 2.5rem;
    }
    & > :nth-child(3) {
      font-size: 2.5rem;
      align-self: flex-end;
      padding-bottom: 0.2em;
      text-align: center;

      @include is-mobile {
        font-size: 2rem;
      }
    }
    & > :nth-child(4) {
      $padding: 0.38em;

      font-size: 1.5rem;
      margin-top: $padding;
      a {
        cursor: pointer;
        padding: $padding calc(#{$padding} * 4);
        color: var(--light-text-color);
        background-color: var(--accent-color);
        border-radius: 10px;
        box-shadow: 3px 3px 5px #0005;
        white-space: nowrap;
      }
    }
  }
</style>
