<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const res = await fetch('/team.json');

    if (res.ok) {
      const response: Team = await res.json();

      return {
        props: {
          team: response,
        },
      };
    }

    const { message } = await res.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/title/foerderverein_cropped.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$lib/components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import ContactCard from '$lib/components/contact-card.svelte';
  import type { Person, CommitteeMember, Team, Executive } from './index.json';
  import type { ContactData } from '$lib/components/contact-card.svelte';
  import Head from '$lib/components/head.svelte';
  import Reasons from './_reasons.svelte';
  import Signup from './_sign-up.svelte';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';
  import TreasureIcon from '@iconify-icons/mdi/treasure-chest.js';

  export let team: Team;

  const {
    committeeDescription,
    committeeMembers,
    executives,
    executivesDescription,
    foerdervereinDescription,
    introText,
    memberCount,
    metadata,
    reasons,
    signupLink,
  } = team;

  const toContactData = (member: CommitteeMember<Person>): ContactData => ({
    name: `${member.person.firstName}  ${member.person.name}`,
    title: member.position,
    titleIcon: member.position === 'Schatzmeister' ? TreasureIcon : undefined, // Hacky, I know. Will only change it if it breaks, though.
    email: member.person.email || '',
  });

  const toContactDataWithoutTitle = (member: Executive<Person>): ContactData =>
    toContactData({ ...member, position: '' });

  $: stringReasons = reasons.map((it) => it.text);
</script>

<svelte:head>
  <Head
    {metadata}
    fallbackTitle="Team"
    fallbackMetaDescription="Im Rahmen der Vereinsarbeit übernimmt der Förderverein viele Aufgaben, wie beispielsweise 
    die Organisation von Veranstaltungen und das Sammeln von Spenden, um den Betrieb des Bürgerbad aufrecht zu halten."
  />
</svelte:head>

<TitleImage title="Team" {image} />

<ContentContainer>
  <MarkdownBlock text={introText} />
</ContentContainer>
<section id="Geschäftsführung">
  <ContentContainer>
    <h2>Die Geschäftsführung</h2>
    <MarkdownBlock text={executivesDescription} />
    <div class="contact-cards">
      {#each executives as member}
        <ContactCard
          contactData={toContactDataWithoutTitle(member)}
          image={member.person.picture}
        />
      {/each}
    </div>
  </ContentContainer>
</section>
<section id="Förderverein">
  <ContentContainer>
    <h2>Der Förderverein</h2>
    <MarkdownBlock text={foerdervereinDescription} />
    <h3>Der Vorstand</h3>
    <MarkdownBlock text={committeeDescription} />
    <div class="contact-cards">
      {#each committeeMembers as member}
        <ContactCard contactData={toContactData(member)} image={member.person.picture} />
      {/each}
    </div>
  </ContentContainer>
  <Signup {signupLink} members={memberCount} />
  <Reasons reasons={stringReasons} />
</section>

<style lang="scss">
  :root {
    --contact-card-breakpoint: 220px;
  }
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--contact-card-breakpoint), 1fr));
    gap: 1rem;
    margin: 4rem 0;
  }

  section {
    padding: 0;
    margin: 0;
  }
</style>
