<script type="ts">
  import { page } from '$app/stores';
  import { onDestroy, onMount } from 'svelte';
  import NavLink from './nav-link.svelte';

  type NavItem = {
    label: string;
    href: string;
  };

  let className: string;
  let ul: HTMLElement;
  let intersectionObserver: ResizeObserver;

  onMount(() => {
    intersectionObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => (notFullyVisible = entry.intersectionRatio < 1));
      },
      {
        threshold: 1,
      }
    );
    intersectionObserver.observe(ul);
  });

  onDestroy(() => {
    if (intersectionObserver) {
      intersectionObserver.disconnect();
    }
  });

  export { className as class };
  export let navItems: NavItem[] = [];
  export let notFullyVisible = false;
  export let scrolled = false;
</script>

<ul class={className} bind:this={ul}>
  {#each navItems as item}
    <li class:active={$page.url.pathname === item.href}>
      <NavLink {item} {scrolled} />
    </li>
  {/each}
</ul>

<style lang="scss">
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    @include is-laptop {
      width: 65%;
      justify-self: flex-end;
    }
    @include is-desktop {
      width: 70%;
      justify-self: flex-end;
    }
    flex-grow: 1;
    li {
      margin: 0 0.5rem;
    }
  }
</style>
