<script lang="ts">
  import logo from '$images/logo.webp?height=400';
  import MobileNavList from './mobile-nav-list.svelte';
  import DesktopNavList from './desktop-nav-list.svelte';
  import BurgerButton from '$lib/components/burger-button.svelte';
  import { navigating } from '$app/stores';
  import { onDestroy } from 'svelte';
  import watchMedia from 'svelte-media';

  let scrollY: number;
  let mobileNavBarVisible = false;
  let mobileSized = false;
  $: mobileSized = ($media.mobile as boolean) || false; // see const headerCharacterCount and const media; media.mobile will always™ be boolean

  const navItems = [
    { label: 'Zeiten', href: '/zeiten' },
    { label: 'Schwimmbad', href: '/schwimmbad' },
    { label: 'Preise', href: '/preise' },
    { label: 'Team', href: '/team' },
    { label: 'News', href: '/news' },
  ];

  const headerCharacterCount = navItems.map((it) => it.label).join().length;
  const media = watchMedia({
    mobile: `(max-width: ${headerCharacterCount * 2.2}ch)`, // still hacky, but the best solution I could come up with.
  });

  const unsubscribe = navigating.subscribe(() => (mobileNavBarVisible = false));
  let scrolled = false;

  $: scrolled = scrollY > 20 || mobileSized;

  onDestroy(unsubscribe);
</script>

<svelte:window bind:scrollY />
<header>
  <nav class:mobile={mobileNavBarVisible} class:scrolled>
    <a class="logo" class:scrolled sveltekit:prefetch href="/">
      <img src={logo} alt="Büba-Logo" />
    </a>
    {#if mobileSized}
      {#if mobileNavBarVisible}
        <MobileNavList {navItems} class="area-mobile-menu" {scrolled} />
      {/if}
    {:else}
      <DesktopNavList {navItems} class="area-desktop-menu" {scrolled} />
    {/if}
    {#if mobileSized}
      <button
        name="menu"
        class="burger"
        on:click={() => (mobileNavBarVisible = !mobileNavBarVisible)}
      >
        <BurgerButton bind:open={mobileNavBarVisible} />
      </button>
    {/if}
  </nav>
</header>

<style lang="scss">
  @use 'sass:color';

  header {
    --initial-header-height: 9rem;
    --collapsed-header-height: 4.5rem;
    --mobile-header-height: 4.5rem;
  }

  nav {
    // animated properties
    transition: 0.5s ease all;

    background-color: transparent;
    box-shadow: 0 0.15rem 0.35rem, rgba(#000, 0);
    &.scrolled {
      background-color: rgba($color: #fff, $alpha: 0.85);
      box-shadow: 0 0.15rem 0.35rem rgba(#000, 0.4);
      backdrop-filter: blur(5px);
    }

    position: fixed;
    z-index: 2;
    margin: 0;
    min-width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
      'logo desktop-menu burger'
      'mobile-menu mobile-menu mobile-menu';
  }

  :global(.area-mobile-menu) {
    grid-area: mobile-menu;
  }

  :global(.area-desktop-menu) {
    grid-area: desktop-menu;
  }

  .logo {
    // animated properties
    transition: all 0.5s ease;

    height: var(--initial-header-height);
    filter: none;

    &.scrolled {
      height: var(--collapsed-header-height);
      filter: grayscale(1);
    }

    grid-area: logo;
    margin: 0 0.7rem;
    justify-content: flex-start;

    img {
      max-height: 100%;
      max-width: 100%;
      transform-origin: center;
      transform: scale(0.95) rotate(-5deg);
    }
  }

  .burger {
    // max-height: var(--mobile-header-height);
    border: none;
    padding: 0 1rem;
    margin: 0;
    background: none;
    cursor: pointer;
    color: var(--text-color);
    grid-area: burger;
  }
</style>
