<script type="ts">
  import { page } from '$app/stores';
  import { expoOut } from 'svelte/easing';
  import NavLink from './nav-link.svelte';
  type NavItem = {
    label: string;
    href: string;
  };
  export let navItems: NavItem[] = [];
  let className: string;
  export { className as class };
  export let scrolled = false;

  function animateHeight(node: HTMLElement, { duration }) {
    return {
      duration,
      easing: expoOut,
      css: (t: number) => {
        const height: number = parseInt(getComputedStyle(node).height);
        return `height: ${t * height}px`;
      },
    };
  }
</script>

<ul class={className} transition:animateHeight={{ duration: 400 }}>
  {#each navItems as item}
    <li class:active={$page.url.pathname === item.href}>
      <NavLink {item} {scrolled} />
    </li>
  {/each}
</ul>

<style lang="scss">
  ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    overflow: hidden;
    & > li {
      min-height: 3em;
    }
  }
</style>
