<script lang="ts">
  type NavItem = {
    label: string;
    href: string;
  };
  export let item: NavItem;
  export let scrolled = false;
</script>

<a href={item.href} class:scrolled sveltekit:prefetch>{item.label}</a>

<style lang="scss">
  a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    letter-spacing: 10%;
    text-decoration: none;
    transition: color 0.2s linear;
    white-space: nowrap;

    transition: color 0.5s ease;
    color: var(--light-text-color);

    &.scrolled {
      color: var(--text-color);
    }

    &:hover {
      text-decoration: underline;
    }
  }
</style>
