<script context="module" lang="ts">
  import type { Load } from '@sveltejs/kit';

  export const prerender = true;

  export const load: Load = async ({ fetch }) => {
    const [feesRequest, teamRequest] = await Promise.all([
      fetch('/preise.json'),
      fetch('/team.json'),
    ]);

    if (feesRequest.ok && teamRequest.ok) {
      const fees = await feesRequest.json();
      const signupLink = (await teamRequest.json()).signupLink;
      return {
        props: {
          fees,
          signupLink,
        },
      };
    }

    const { message } = await feesRequest.json();

    return {
      error: new Error(message),
    };
  };
</script>

<script lang="ts">
  import image from '$images/title/preise.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import TitleImage from '$lib/components/title-image.svelte';
  import ContentContainer from '$lib/components/content-container.svelte';
  import Head from '$lib/components/head.svelte';
  import MarkdownBlock from '$lib/components/markdown-block.svelte';
  import type { Fees } from './index.json';

  export let fees: Fees;
  export let signupLink: string;

  $: fees = {
    ...fees,
    adultAdditionalFee: fees.adultAdditionalFee || '',
    teenAdditionalFee: fees.teenAdditionalFee || '',
    childAdditionalFee: fees.childAdditionalFee || '',
    annualPassAdditionalFee: fees.annualPassAdditionalFee || '',
    familyPassAdditionalFee: fees.familyPassAdditionalFee,
  };

  const { metadata } = fees || {};
</script>

<svelte:head>
  <Head
    {metadata}
    fallbackTitle="Preise"
    fallbackMetaDescription="Hier findest du die Preise und Konditionen für Tages- und Jahreskarten im Bürgerbad Handorf."
  />
</svelte:head>

<div>
  <TitleImage title="Preise" {image} margin />
  <ContentContainer>
    <MarkdownBlock text={fees.introText} />
    <h2 id="Tageskarte">Tageskarten</h2>
    <MarkdownBlock text={fees.individualFeesText} />
    <!-- <p>
      Für die Nutzung des Bürgerbades ist Eintritt zu entrichten. <br />
      Die Eintrittspreise betragen in den Zeiten des Öffentlichkeitsschwimmens:
    </p> -->
  </ContentContainer>
  <section class="pricing">
    <ContentContainer>
      <div class="pricing-container">
        <div class="adult">
          <div class="price">{fees.adultFee}</div>
          <div class="additional_price">{fees.adultAdditionalFee}</div>
          <div class="price_info">Erwachsene</div>
        </div>
        <div class="youth">
          <div class="price">{fees.teenFee}</div>
          <div class="additional_price">{fees.teenAdditionalFee}</div>
          <div class="price_info">Jugendliche</div>
          <div class="price_extra_info">bis 17 Jahre</div>
        </div>
        <div class="child">
          <div class="price">{fees.childFee}</div>
          <div class="additional_price">{fees.childAdditionalFee}</div>
          <div class="price_info">Kinder</div>
          <div class="price_extra_info">bis 4 Jahre</div>
        </div>
      </div>
    </ContentContainer>
  </section>
  <ContentContainer>
    <h2 id="Jahreskarte">Jahreskarten</h2>
    <p>{fees.annualPassIntro}</p>
  </ContentContainer>
  <div class="dark-background">
    <ContentContainer>
      <div class="year-grid">
        <p class="yearly-text">{fees.annualPassText}</p>
        <div class="price">
          {fees.annualPassFee}
          <div class="additional_price">{fees.annualPassAdditionalFee}</div>
        </div>
        <p class="yearly-text">{fees.familyPassText}</p>
        <div class="price">
          {fees.familyPassFee}
          <div class="additional_price">{fees.familyPassAdditionalFee}</div>
        </div>
      </div>

      <a class="button" target="_blank" href={fees.annualPassLink}>Jahreskarte kaufen</a>
    </ContentContainer>
  </div>
  <ContentContainer>
    <h2>Fördervereinsmitgliedschaft</h2>
    <MarkdownBlock text={fees.subscriptionIntroText} />
  </ContentContainer>

  <section class="pricing">
    <ContentContainer>
      <div class="pricing-container">
        <div class="adult">
          <div class="price">{fees.subscriptionFee}</div>
          <div class="price_info">pro Jahr</div>
        </div>
      </div>
      <a class="button" rel="noopener noreferrer" target="_blank" href={signupLink}
        >Zum Anmeldeformular
      </a>
    </ContentContainer>
  </section>

  <ContentContainer>
    <MarkdownBlock text={fees.subscriptionInfoText} />
    <h2>Sonstige Gebühren</h2>
    <p class="bottom">
      <MarkdownBlock text={fees.otherFeesText} />
    </p>
  </ContentContainer>
</div>

<style lang="scss">
  .dark-background {
    background-color: var(--background-dark);
    margin: 5rem 0;
    padding: 2rem 0;

    p {
      color: var(--light-text-color);
    }
  }

  .pricing {
    background-color: var(--background-dark);
    color: var(--light-text-color);
    margin: 5rem 0;
    padding: 3rem 0;
    font-size: 1.2rem;
    text-align: center;

    .price {
      text-align: center;
      margin-bottom: -1rem;
    }

    .price_extra_info {
      font-weight: 300;
      font-size: 1rem;
    }
  }

  .pricing-container {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;

    > div {
      margin: 1rem;
    }

    .adult {
      flex: 1;
    }

    .youth {
      flex: 1;
    }

    .child {
      flex: 1 100%;
    }
  }

  .year-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 4rem 0;

    @include is-mobile {
      grid-gap: 0;
      grid-template-columns: 1fr;
    }

    .yearly-text {
      align-self: flex-end;
      margin: 1rem 0;
    }

    div.price {
      align-self: flex-end;
    }
  }

  .price {
    color: var(--accent-color);
    font-weight: 100;
    font-size: 7rem;
    white-space: nowrap;

    @include is-mobile {
      font-size: 4rem;
    }
  }

  .additional_price {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--accent-color);

    @include is-mobile {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }

  .button {
    display: block;
    text-align: center;
    padding: 0.5em;
    background-color: var(--accent-color);
    color: white;
    border-radius: 10px;
  }

  .bottom {
    margin-bottom: 4rem;
  }
</style>
