@use 'sass:map';

// Colors
:root {
  --accent-color: #f9a81b;
  --background-light: #e9e9e9;
  --background-light-darker: #d6d6d6;
  --background-dark: #686868;
  --text-color: #6f6f6f;
  --light-text-color: var(--background-light);
  --footer-color: #454545;
  --green: #b7c733;
  --blue: #5574af;
  --solid-white: #fff;

  --font-mono: 'Fira Mono', monospace;
}

// We use this as our guideline
// https://material.io/design/layout/responsive-layout-grid.html#breakpoints
// The variables below only make sense in context of the breakpoint system table

$mobile-break-as-number: 600;
$tablet-margin-break-as-number: 905;
$tablet-break-as-number: 1240;
$laptop-break-as-number: 1440;

$mobile-margin: 16px;
$tablet-margin: 32px;
$tablet-body: 840px;
$laptop-margin: 200px;
$desktop-body: 1040px;

$mobile-media: '(max-width: #{$mobile-break-as-number - 1}px)';
$tablet-media: '(min-width: #{$mobile-break-as-number}px) and (max-width: #{$tablet-break-as-number - 1}px)';
$laptop-media: '(min-width: #{$tablet-break-as-number}px) and (max-width: #{$laptop-break-as-number - 1}px)';
$desktop-media: '(min-width: #{$laptop-break-as-number}px)';
$landscape-media: '(orientation: landscape)';
$portrait-media: '(orientation: portrait)';

@mixin is-mobile {
  @media #{unquote($mobile-media)} {
    @content;
  }
}

@mixin is-tablet {
  @media #{unquote($tablet-media)} {
    @content;
  }
}

@mixin is-laptop {
  @media #{unquote($laptop-media)} {
    @content;
  }
}

@mixin is-desktop {
  @media #{unquote($desktop-media)} {
    @content;
  }
}

@mixin is-portrait {
  @media #{unquote($portrait-media)} {
    @content;
  }
}

@mixin is-landscape {
  @media #{unquote($landscape-media)} {
    @content;
  }
}

:export {
  mobileBreak: $mobile-break-as-number;
  tabletBreak: $tablet-break-as-number;
  mobileMedia: $mobile-media;
  tabletMedia: $tablet-media;
  desktopMedia: $desktop-media;
  landscapeMedia: $landscape-media;
  portraitMedia: $portrait-media;
}
