<script lang="ts">
  export let open = false;
</script>

<div class:open>
  <span />
  <span />
  <span />
  <span />
</div>

<style lang="scss">
  $thickness: 6px;
  div {
    width: 2rem;
    height: 1.75rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: $thickness;
      width: 100%;
      background: var(--text-color);
      border-radius: 2px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    & > span:nth-child(1) {
      top: 0px;
    }

    & > span:nth-child(2),
    & > span:nth-child(3) {
      top: calc(50% - #{$thickness} / 2);
    }

    & > span:nth-child(4) {
      top: calc(100% - #{$thickness});
    }

    &.open {
      & > span:nth-child(1) {
        top: calc(50% - #{$thickness} / 2);
        width: 0%;
        left: 50%;
      }
      & > span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      & > span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      & > span:nth-child(4) {
        top: calc(50% - #{$thickness} / 2);
        width: 0%;
        left: 50%;
      }
    }
  }
</style>
