<script lang="ts" context="module">
  export type Address = {
    Name: string;
    Strasse: string;
    Hausnummer: string;
    PLZ: string;
    Ort: string;
    Email: string;
    Telefonnummer: string;
  };
</script>

<script lang="ts">
  import { responsiveBg } from '$lib/components/responsive-image/responsiveBg';
  import OutsideImage from '$images/footer.jpg?w=480;960;1280;1920;2560;3840&format=webp&srcset'; // change to metadata once https://github.com/JonasKruckenberg/imagetools/issues/132 is resolved
  import type { IconifyIcon } from '@iconify/svelte';
  import MapMarkerIcon from '@iconify-icons/fa-solid/map-marker-alt.js';
  import EmailIcon from '@iconify-icons/fa-solid/envelope.js';
  import PhoneIcon from '@iconify-icons/fa-solid/phone-alt.js';
  import Icon from '@iconify/svelte';

  export let address: Address;

  export let showPhoneNumber: boolean;

  $: displayedAddress = [
    `${address.Name}`,
    `${address.Strasse} ${address.Hausnummer}`,
    `${address.PLZ} ${address.Ort}`,
  ];

  let data: {
    icon: IconifyIcon;
    text: string[];
  }[];

  $: {
    data = [
      {
        icon: MapMarkerIcon,
        text: displayedAddress,
      },
      {
        icon: EmailIcon,
        text: [address.Email],
      },
    ];
    if (showPhoneNumber) {
      data.push({
        icon: PhoneIcon,
        text: [address.Telefonnummer],
      });
    }
  }
</script>

<div class="contact-bg" use:responsiveBg={OutsideImage}>
  <div class="contact-panel">
    <div class="contact-content">
      {#each data as item}
        <div class="icon"><Icon icon={item.icon} /></div>
        <div class="text">
          {#each item.text as line}
            {line}<br />
          {/each}
        </div>
      {/each}
    </div>
  </div>
</div>

<style lang="scss">
  .contact-bg {
    background-size: cover;
    background-position: center center;
    @include is-mobile {
      background-position: 20% 50%;
    }
    min-height: 30rem;

    :global(img) {
      object-position: 20% 50% !important;
    }
  }

  .contact-panel {
    background-color: rgba(#acacac, 0.7);
    margin-left: 50%;
    margin-top: 6rem;
    @include is-mobile {
      margin-left: 10%;
    }
    @include is-tablet {
      margin-left: 30%;
    }
    @include is-desktop {
      margin-left: 60%;
    }
  }

  .contact-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: row;
    gap: 2em 1em;

    color: var(--light-text-color);
    padding: 2rem;

    word-break: break-word;

    .icon {
      justify-self: center;
      font-size: 1.5rem;
    }

    .text {
      font-size: 1.2rem;
    }
  }
</style>
