<script lang="ts" context="module">
  export type ContactData = {
    name: string;
    title: string;
    titleIcon?: IconifyIcon;
    email: string;
  };
</script>

<script lang="ts">
  import Icon, { IconifyIcon } from '@iconify/svelte';
  import ProfileIcon from '@iconify-icons/vs/profile.js';
  import EmailIcon from '@iconify-icons/fa-solid/envelope.js';
  import GavelIcon from '@iconify-icons/fluent/gavel-24-filled.js';

  export let image: string | undefined;
  export let contactData: ContactData;

  const { name, title, email, titleIcon } = contactData;
  const positionIcon = titleIcon || GavelIcon;
</script>

<div class="frame">
  {#if image !== null}
    <img src={image} alt="Bild von {name}" />
  {:else}
    <div class="icon-container">
      <Icon icon={ProfileIcon} />
    </div>
  {/if}

  <div class="contact">
    <h3>{name}</h3>
    {#if title}
      <!-- <span class="title"><Icon icon={positionIcon} inline /> {title}</span> -->
      <span class="title"><Icon icon={positionIcon} inline /> {title}</span>
    {/if}
    {#if email}
      <span class="email">
        <a aria-label="E-Mail" target="_blank" href="mailto:{email}">
          <Icon icon={EmailIcon} inline />
          {email}
        </a></span
      >
    {/if}
  </div>
</div>

<style lang="scss">
  h3 {
    font-size: 1.5rem;
    line-height: 1em;
    color: var(--accent-color);
    font-weight: 500;

    margin: 1rem 0;
  }
  .frame {
    padding: 0.75rem;
    background-color: var(--solid-white);
    color: var(--text-color);
    border-radius: 3px;
    box-shadow: 0px 5px 5px #0005;

    span {
      display: block;
    }

    .contact {
      padding: 0 0.5rem;
      bottom: 0;
      h3 {
        @include is-mobile {
          font-size: 1.6rem;
        }
      }
      span {
        @include is-mobile {
          font-size: 1.2rem;
        }
      }
    }

    .email {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        text-decoration: none;
      }
    }

    .email,
    .title {
      margin: 1.5rem 0;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 3px;
      // object-fit: cover;
    }

    .icon-container {
      background-color: var(--background-light);
      padding: 0 1rem;
      border-radius: 3px;

      :global(svg) {
        color: var(--text-color);
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
