<script lang="ts">
  let className = '';
  export { className as class };
</script>

<div class={`content-container ${className}`}>
  <slot />
</div>

<style lang="scss">
  @use 'sass:map';

  .content-container {
    margin: 0 auto;
    height: 100%;

    @include is-mobile {
      margin: 0 $mobile-margin;
    }

    @include is-tablet {
      @media (max-width: #{$tablet-margin-break-as-number - 1}px) {
        margin: 0 $tablet-margin;
      }
    }

    @include is-laptop {
      margin: 0 $laptop-margin;
    }

    @include is-tablet {
      @media (min-width: #{$tablet-margin-break-as-number}px) {
        max-width: $tablet-body;
      }
    }

    @include is-desktop {
      max-width: $desktop-body;
      width: 100%;
    }
  }
</style>
