<script lang="ts">
  import ContentContainer from '$components/content-container.svelte';
</script>

<footer>
  <ContentContainer class="flex">
    <ul>
      <li><a href="/" sveltekit:prefetch>Startseite</a></li>
      <li><a href="/hausundbadeordnung" sveltekit:prefetch>Haus- und Badeordnung</a></li>
      <li><a href="/faq" sveltekit:prefetch>FAQ</a></li>
      <li><a href="/impressum" sveltekit:prefetch>Impressum</a></li>
      <li><a href="/datenschutz" sveltekit:prefetch>Datenschutz</a></li>
      <li><a href="/widerrufsrecht" sveltekit:prefetch>Widerrufsrecht</a></li>
    </ul>
  </ContentContainer>
</footer>

<style lang="scss">
  footer {
    background-color: var(--footer-color);
  }

  ul {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;

    li {
      margin: 1rem;
    }

    @include is-mobile {
      flex-direction: column;
      line-height: 3rem;
    }
  }

  li {
    color: var(--light-text-color);
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  footer {
    padding: 15px 0;

    @include is-mobile {
      padding: 0;
    }
  }
</style>
