<script type="ts">
  import type { Metadata } from '$lib/types';
  import { onMount } from 'svelte';

  export let metadata: Metadata | null = null;
  export let fallbackTitle: string | null = null; // This and fallbackMetaDescription are only used if metadata doesn't have those properties set
  export let fallbackMetaDescription: string | null = null;

  const title = metadata?.title || fallbackTitle || '';
  const description = metadata?.metaDescription || fallbackMetaDescription;

  onMount(() => {
    document.title = title;
  });
</script>

<title>{title}</title>
{#if description}
  <meta name="description" content={description} />
{/if}
