<script type="ts">
  import type { MarkdownText } from '$lib/types';
  import MarkdownIt from 'markdown-it';

  const md = new MarkdownIt();
  let parsedText: string;

  export let text: MarkdownText;
  export let lowkeyStyle = false; // see https://stackoverflow.com/questions/56988717/how-to-target-a-component-in-svelte-with-css; it's for being able to style this component

  $: parsedText = md.render(text || '');
</script>

{#if text}
  <div class="markdown" class:lowkeyStyle>{@html parsedText}</div>
{/if}

<style lang="scss">
  div.lowkeyStyle :global {
    h2 {
      text-transform: none;
      font-size: 1.6rem;
      font-weight: 600;
      &::after {
        display: none;
      }
    }
  }
</style>
