<script lang="ts">
  import Icon from '@iconify/svelte';
  import MapMarkerIcon from '@iconify-icons/fa-solid/map-marker-alt.js';
  import EmailIcon from '@iconify-icons/fa-solid/envelope.js';
  import FacebookIcon from '@iconify-icons/fa-brands/facebook.js';
  import TelegramIcon from '@iconify-icons/fa-brands/telegram.js';
  import PhoneIcon from '@iconify-icons/fa-solid/phone-alt.js';

  export let mapsLink: string;
  export let facebookLink: string;
  export let phoneNumber: string | undefined;
  export let email: string;
  export let telegramChannel: string;

  $: phoneNumber = phoneNumber?.replace(/ /g, '');
</script>

<div class="social-area">
  {#if mapsLink}
    <span>
      <a aria-label="Google Maps" target="_blank" rel="noopener noreferrer" href={mapsLink}>
        <Icon icon={MapMarkerIcon} />
      </a>
    </span>
  {/if}
  {#if email}
    <span>
      <a aria-label="E-Mail" target="_blank" href="mailto:{email}">
        <Icon icon={EmailIcon} />
      </a>
    </span>
  {/if}
  {#if facebookLink}
    <span>
      <a aria-label="Facebook" target="_blank" rel="noopener noreferrer" href={facebookLink}>
        <Icon icon={FacebookIcon} />
      </a>
    </span>
  {/if}
  {#if telegramChannel}
    <span>
      <a aria-label="Telegram" target="_blank" rel="noopener noreferrer" href={telegramChannel}>
        <Icon icon={TelegramIcon} />
      </a>
    </span>
  {/if}
  {#if phoneNumber}
    <span>
      <a aria-label="Telefon" target="_blank" rel="noopener noreferrer" href="tel:{phoneNumber}">
        <Icon icon={PhoneIcon} />
      </a>
    </span>
  {/if}
</div>

<style lang="scss">
  .social-area {
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin: 0.2em 0.5em;
      color: white;
      font-size: 2em;

      a {
        color: white;

        &:hover {
          color: var(--accent-color);
        }
      }

      @include is-mobile {
        font-size: 1.5em;
      }
    }
  }
</style>
