<script lang="ts">
  import type { ImageMetadata } from './responsive-image/index.svelte';

  import { responsiveBg } from './responsive-image/responsiveBg';

  export let image: ImageMetadata[];
  export let title: string;
  export let margin = false;
  // export let invertColors: boolean = false;
</script>

<div class="title-image-container" use:responsiveBg={image} class:margin>
  <h1>{title}</h1>
</div>

<style lang="scss">
  .margin {
    margin-bottom: 3rem;
  }

  .title-image-container {
    height: 40vh;
    min-height: 20rem;
    position: relative;
    background: #0005;
  }

  h1 {
    font-family: 'HeeboVariable';
    font-weight: 150;
    font-size: 9rem;
    position: absolute;
    bottom: -0.15em;
    line-height: 1em;
    margin: 0;
    pointer-events: none;
    color: var(--light-text-color);

    @include is-mobile {
      font-size: 3.5rem;
      padding: 0.2em;
    }

    @include is-tablet {
      font-size: 7rem;
    }
  }
</style>
